body {
    background-color: darkslategrey;
}

.formatter {
    width: 30px;
    height: 30px;
    margin: 5px;
}

#main-area {
    border: 2px black solid;
    width: 75%;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #e2dede;
    padding: 10px;
    height: 250px;
}